.fadeIn {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.fadeIn.enter {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.slideLeft {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
}
.slideLeft.enter {
  transition: opacity 1s ease-in-out,
    transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  transform: translateX(0);
}
.slideUp {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0;
  transform: translateY(100%);
}
.slideUp.enter {
  transition: opacity 1s ease-in-out,
    transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  transform: translateY(0);
}
@media (print), (prefers-reduced-motion: reduce) {
  .fadeIn,
  .slideLeft,
  .slideUp {
    transition: none;
    opacity: 1;
    transform: none;
  }
}
